body {
    background-color: #6A5AE0 !important;
}

.quizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #19D3FF !important;
    height: 450px !important;
    width: 750px !important;
    border-radius: 25px !important;
    padding: 0;
    margin: 80px;

}

.cardLeft {
    background-color: blue;
    height: 100%;
    width: 250px !important;
    border-radius: 25px 0 0 25px;
    border-color: blue;
    margin: 0;
}

.card {
    margin: 0;
    padding: 0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.cardLeftHeader {
    margin: 30px 0 0 40px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-left: 10px;
    width: 180px !important;
}

.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.quizAnswerCard {
    width: 80%;
}
.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.progress {
    width: 80% !important;
}

.questionFooter {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    gap: 50px;
}

span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
}